.studio_section {
  display: flex;
  flex-direction: column;
  padding: var(--padding-hero-top) var(--padding-hero-left) var(--padding-hero-bottom);
  width: 100%;
  flex-shrink: 0;
}

.top_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.about_text {
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: var(--text-body-primary);
  max-width: 754px;
}

.text_block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.section_heading {
  font-size: var(--type-h2);
  font-weight: 800;
  color: var(--text-body-primary);
}

.body_text {
  font-weight: 600;
  color: var(--text-body-primary);
}

.body_paragraphs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 600;
  color: var(--text-body-primary);
}
