.menu_item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2px 0;
  position: relative;
  color: var(--text-body-primary);
  border-bottom: 1px solid transparent;
  max-width: fit-content;
  transition: all 0.2s ease-in-out;

  &:hover, &.active {
    color: var(--text-accent-primary-hover);
    border-bottom: 1px solid var(--text-accent-primary-hover);
  }
}

.label {
  font-size: var(--type-nav);
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
}