/* Base tokens - Mode 1 */
:root {
  --color-primary-base: #94433BFF;
  --color-secondary-base: #EFB892FF;
  --color-secondary-5: #FFEADBFF;
  --color-secondary-10: #FFE0CAFF;
  --color-secondary-20: #FDD0B3FF;
  --color-secondary-30: #D39F7EFF;
  --color-secondary-40: #B07E5CFF;
  --color-secondary-50: #8E5D3FFF;
  --color-secondary-60: #694026FF;
  --color-secondary-70: #462612FF;
  --color-secondary-80: #240E00FF;
  --color-primary-5: #FFE1D5FF;
  --color-primary-10: #FFD7C7FF;
  --color-primary-20: #FFBAAEFF;
  --color-primary-30: #EC9489FF;
  --color-primary-40: #C87267FF;
  --color-primary-50: #A4534AFF;
  --color-primary-60: #7C362FFF;
  --color-primary-70: #551E1AFF;
  --color-primary-80: #2B0B02FF;
  --color-neutral-white: #FFFFFF;

  /* Colour tokens */
  --bg-body: var(--color-secondary-5);
  --bg-sidebar: var(--color-secondary-5);
  --bg-input-base: var(--color-secondary-10);
  --bg-input-focused: var(--color-secondary-20);
  --text-accent-primary-base: var(--color-primary-base);
  --text-input-placeholder: var(--color-secondary-30);
  --text-input-label: var(--color-secondary-40);
  --text-input-value: var(--color-primary-base);
  --text-body-primary: var(--color-primary-base);
  --border-primary:var(--color-primary-base);
  --text-body-secondary: var(--color-secondary-base);
  --text-accent-primary-hover: var(--color-primary-60);
  --text-body-light: var(--color-secondary-5);
  --text-accent-primary-disabled: #94433B99;
  --bg-accent-primary-base: var(--color-primary-base);
  --bg-accent-primary-hover: var(--color-primary-60);
  --text-accent-secondary-base: var(--color-secondary-base);
  --bg-accent-primary-disabled: #94433B66;
  --text-accent-secondary-hover: var(--color-secondary-20);
  --bg-accent-secondary-base: var(--color-secondary-base);
  --text-accent-secondary-disabled: #EFB89299;
  --bg-accent-secondary-hover: var(--color-secondary-20);
  --bg-accent-secondary-disabled: #EFB89266;
  --text-accent-light-base: var(--color-secondary-5);
  --bg-accent-light-base: var(--color-secondary-5);
  --bg-accent-light-hover: var(--color-neutral-white);
  --text-accent-light-hover: var(--color-neutral-white);
  --text-accent-light-disabled: #FFEADB99;
  --bg-accent-light-disabled: #FFEADB66;
  --bg-overlay: rgba(43, 11, 2, 0.96);
  --overlay-dark: rgba(53, 21, 18, 0.32);
  --overlay-image: rgba(53, 21, 18, 0.12);

  /* Size tokens - Desktop */
  --type-body: 18px;
  --type-label: 14px;
  --type-icon-sm: 13px;
  --type-icon-lg: 15px;
  --type-h1: 28px;
  --type-h2: 24px;
  --type-nav: 20px;
  --type-accent-lg: 20px;
  --type-accent-sm: 18px;
  --padding-dialog: 56px;
  --padding-hero-top: 132px;
  --padding-hero-bottom: 80px;
  --padding-hero-left: 140px;
  --padding-hero-right: 140px;
  --padding-sidebar-collapsed-top: 40px;
  --padding-sidebar-collapsed-left: 24px;
  --padding-sidebar-collapsed-right: 24px;
  --padding-sidebar-collapsed-bottom: 72px;
  --padding-body-top: 64px;
  --padding-body-bottom: 64px;
  --padding-body-left: 40px;
  --padding-body-right: 120px;
  --padding-body-right-sm: 40px;
  --padding-sidebar-expanded-top: 40px;
  --padding-sidebar-expanded-left: 40px;
  --padding-sidebar-expanded-right: 40px;
  --padding-sidebar-expanded-bottom: 72px;
  --width-logo: 100px;
  --width-mark: 24px;
  --width-hamburger: 32px;
  --width-menu_close: 40px;
  --gap-body: 64px;
  --gap-projects-horizontal: 40px;
  --gap-project: 120px;
  --gap-project_item: 16px;
  --gap-projects-vertical: 64px;
  --gap-project_sections-large: 120px;
  --gap-project_sections-small: 40px;
  --padding-project-top: 64px;
  --padding-project-bottom: 40px;
  --padding-project-left: 40px;
  --padding-project-right: 40px;
  --grid-projects: repeat(2, 1fr);
  --width-carousel-step-idle: 64px;
  --width-carousel-step-active: 220px;
}

@media screen and (max-width: 1024px) {
  /* Size tokens - Mobile */
  :root {
  --padding-dialog: 48px;
  --padding-hero-top: 80px;
  --padding-hero-bottom: 80px;
  --padding-hero-left: 40px;
  --padding-hero-right: 40px;
  --padding-sidebar-collapsed-top: 40px;
  --padding-sidebar-collapsed-left: 24px;
  --padding-sidebar-collapsed-right: 24px;
  --padding-sidebar-collapsed-bottom: 72px;
  --padding-body-top: 64px;
  --padding-body-bottom: 64px;
  --padding-body-left: 40px;
  --padding-body-right: 40px;
  --padding-body-right-sm: 40px;
  --padding-sidebar-expanded-top: 40px;
  --padding-sidebar-expanded-left: 40px;
  --padding-sidebar-expanded-right: 40px;
  --padding-sidebar-expanded-bottom: 72px;
  --width-logo: 80px;
  --width-mark: 20px;
  --width-hamburger: 32px;
  --width-menu_close: 40px;
  --gap-body: 64px;
  --gap-projects-horizontal: 40px;
  --gap-project: 120px;
  --gap-project_item: 16px;
  --gap-projects-vertical: 64px;
  --gap-project_sections-large: 120px;
  --gap-project_sections-small: 40px;
  --padding-project-top: 64px;
  --padding-project-bottom: 40px;
  --padding-project-left: 40px;
  --padding-project-right: 40px;
  --grid-projects: repeat(2, 1fr);
  --width-carousel-step-idle: 64px;
  --width-carousel-step-active: 220px;
  }
}

@media screen and (max-width: 480px) {
  /* Size tokens - Mobile */
  :root {
    --type-body: 16px;
    --type-label: 12px;
    --type-icon-sm: 11px;
    --type-icon-lg: 13px;
    --type-h1: 26px;
    --type-h2: 22px;
    --type-nav: 18px;
    --type-accent-lg: 18px;
    --type-accent-sm: 16px;
    --padding-dialog: 40px;
    --padding-hero-top: 24px;
    --padding-hero-bottom: 24px;
    --padding-hero-left: 20px;
    --padding-hero-right: 20px;
    --padding-sidebar-collapsed-top: 24px;
    --padding-sidebar-collapsed-left: 12px;
    --padding-sidebar-collapsed-right: 12px;
    --padding-sidebar-collapsed-bottom: 64px;
    --padding-body-top: 40px;
    --padding-body-bottom: 40px;
    --padding-body-left: 20px;
    --padding-body-right: 20px;
    --padding-body-right-sm: 20px;
    --padding-sidebar-expanded-top: 24px;
    --padding-sidebar-expanded-left: 24px;
    --padding-sidebar-expanded-right: 24px;
    --padding-sidebar-expanded-bottom: 64px;
    --width-logo: 80px;
    --width-mark: 20px;
    --width-hamburger: 20px;
    --width-menu_close: 32px;
    --gap-body: 40px;
    --gap-projects-horizontal: 20px;
    --gap-project: 40px;
    --gap-project_item: 8px;
    --gap-projects-vertical: 32px;
    --gap-project_sections-large: 20px;
    --gap-project_sections-small: 20px;
    --padding-project-top: 40px;
    --padding-project-bottom: 20px;
    --padding-project-left: 20px;
    --padding-project-right: 20px;
    --grid-projects: repeat(1, 1fr);
    --width-carousel-step-idle: 24px;
    --width-carousel-step-active: 120px;
  }
}
