.text_link {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;

  &.lg {
    --arrow-width: calc(var(--type-icon-lg) + 1px);
    font-size: var(--type-accent-lg)
  }

  &.md {
    --arrow-width: calc(var(--type-icon-sm) + 1px);
    font-size: var(--type-accent-sm);
  }

  &.primary {
    --arrow-color: var(--text-accent-primary-base);
    color: var(--text-accent-primary-base);

    &:hover {
      --arrow-color: var(--text-accent-primary-hover);
      color: var(--text-accent-primary-hover);
    }
  }

  &.secondary {
    --arrow-color: var(--text-accent-light-base);
    color: var(--text-accent-light-base);

    &:hover {
      --arrow-color: var(--text-accent-light-hover);
      color: var(--text-accent-light-hover);
    }
  }
}

.text {
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
}
